/*mobile-first s*/

@media screen and (min-width:576px) {

    .side-bar {

        flex-basis: 250px;
    }

    .hunder-header ul {

        flex-wrap: wrap;

        justify-content: center;
    }

}



/*desktop lg*/

@media screen and(min-width:992) {

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .recently-played {
        flex-wrap: nowrap;
    }

}






/*tablet */



@media screen (min-width:768px) {}



/*IN MODALITA' TABLET (sopra i 768px)
MODALITA' DESKTOP (sopra i 992px)
mobile: dai 576px in giù





*/