/*Reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*strumenti */

.flex {

    display: flex;
}

.container {

    margin: 0 auto;

    max-width: 1200px;
    /*rivedi , intanto tieni come bozza*/

}


/*impostazione layout  principale*/



/*fase uno dobbiamo impostare il top-content e il footer*/


.top-content {


    background-color: red;
    height: calc(100vh-100px);
    /*altrimenti le altezze si sommano */

    overflow-y: auto;
}





footer {

    background-color: yellow;
    height: 100px;
}



















/*inizia con analisi 

seganti tutti gli strumenti che ti servonoi e di colori 

abbozza uno schema 


inizia ad impostare il layout



appunto lezione , se metto 100 lorem ipsum non vengono contenuti , usa overflow vertical e


























*/