/*Reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*strumenti */

.flex {

    display: flex;
}

.container {

    margin: 0 auto;

    max-width: 1200px;
    /*rivedi , intanto tieni come bozza*/

}

body {


    font-family: sans-serif;
}

/*impostazione layout  principale*/



/*fase uno dobbiamo impostare il top-content e il footer*/


.top-content {




    height: calc(100vh-100px);

    overflow-y: auto;
    display: flex;
}

.side-bar {
    background-color: black;
    flex-basis: 50px;
    /*vogliamo che la misura sia fissa */
    flex-shrink: 0;

}



main {

    background-color: #141922;
    flex-grow: 1;
    overflow: auto;



}

/*questo serve perchè potremmo avere più header*/
main header {

    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /*metti sempre le coordiinate */
    display: flex;
    justify-content: flex-end;
    align-items: center;





}


footer {



    background-color: #282828;
    height: 100px;
}




@media screen and (min-width:576px) {

    .side-bar {

        flex-basis: 250px;
    }

}


.under-header {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 45px;

}


.under-header ul {

    display: flex;
    list-style-type: none;
    gap: 30px;

    font-size: 0.8rem;

}


a {

    text-decoration: none;
    color: white;
}


.upgrade {

    height: 42px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    flex-basis: 206px;
    padding: 13px 11px;
    text-align: center;
    font-size: 14px;
}

.row {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;




}

.Playlist ul {

    color: white;
    margin-left: 48px;
    list-style-type: none;
    margin-top: 23px;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
}



.Playlist {


    display: flex;
    flex-direction: column;
}


img {

    max-width: 100%;

}

.recently-played {


    list-style-type: none;

    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;


}

.recently-played li {

    color: white;
}

.recently-played img {
    max-width: 150px;
}


figcaption {
    max-width: 150px;
}

h3 {
    padding-left: 20px;
    color: white;
    font-size: 27px;
}




/*inizia con analisi 

seganti tutti gli strumenti che ti servonoi e di colori 

abbozza uno schema 


inizia ad impostare il layout



appunto lezione , se metto 100 lorem ipsum non vengono contenuti , usa overflow verticale


con il column nel flex-wrapper esercizio , nel footer metti flexbasis 



con questa soluzione però il cordice corre il rischio di sballarsi tutto 

nell'header non fare fixed  o positin relative usa sticky







.top-content {


    background-color: red;
    flex-grow: 1;/*se non metti un altezza non funziona */

/*con questa soluzione il footer ha 100 e il topo content tutto meno 100 ma signfica cresci quanto vuoiquindi metti il shrink*/

/*altrimenti le altezze si sommano */

/* overflow-y: auto;
}


.container-flex{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}




footer {

    flex-shrink: 0;

    background-color: yellow;
    flex-basis: 100px; /*cambia l'asse principale */





/*rgba(0, 0, 0, 0.5) header
#141922 main
black sidebar
#282828 footer*/